---
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import Divisions from "../components/Divisions";
import CallToAction from "../components/CallToAction";
---

<Layout title="BSVC">
  <main>
    <!-- <h1>Welcome to <span class="text-gradient">BSVC</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p> -->
    <Hero />
    <Divisions />
    <CallToAction />
  </main>
</Layout>
