---
import Hero from "../components/Hero";
import Layout from "../layouts/Layout.astro";
import Divisions from "../components/Divisions";
import CallToAction from "../components/CallToAction";
import Footer from "../components/Footer";
---

<Layout title="BSVC">
  <main>
    <Hero />
    <Divisions />
    <CallToAction />
    <Footer />
  </main>
</Layout>
